# pixi environments
.pixi
data/MNIST/raw
lmc/__pycache__
__pycache__
lmc/data/MNIST/raw
lmc/experiments
lmc/wandb
.convexity_of_space.py.swp
lmc/data/GaussianNoise
lmc/plots
outputs
sbatch
.vscode
wandb
/data
/ffcv
nohup.out
